* {
  font-family: 'Karla', sans-serif;
}


.header {
  height: 65px;
  background: linear-gradient(90deg, purple, blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 7px;
  padding: 20px;
}

.header-logo {
  max-width: 70px;
}

.header-title {
  color: #ffff;
  font-size: 20px;
  font-weight: bold;
}

.header-text {
  color: #ffff;
  margin-left: auto;
}