* {
  font-family: 'Karla', sans-serif;
}


.header {
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 7px;
  padding: 20px;
}

.header-logo {
  max-width: 70px;
}

.header-title {
  color: #ffff;
  font-size: 20px;
  font-weight: bold;
}

.header-text {
  color: #ffff;
  margin-left: auto;
}

.gradient {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.meme {
  padding: 36px;
}

.meme-input {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.meme-input-1, .meme-input-2 {
  width: 50%;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
}

.meme-input-1::placeholder, .meme-input-2::placeholder {
  padding-left: 20px;
  color: #0D0D0D;
}

.meme-button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.meme-image {
  /* display: flex;
  margin: 60px auto; */
  /* justify-content: center;
  align-items: center; */
  /* text-align: center; */
  max-width: 100%;
  border-radius: 5px;
}


.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}